html body {
    width: auto;
    height: 100%;
    background-color: antiquewhite;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    /*background: url('../images/header.jpg') bottom no-repeat;
    background-size: cover;*/
}